<div class="center-block">
  <h1>Terceirinha</h1>
  <h2>Nono mês do ano</h2>
</div>
@let eventData = events();

<div class="cards-container">
  @for(data of eventData; track data.id; let i = $index; let count = $count) {
  <div class="card-container">
    <div class="center-block">
      <h5>{{count - i}} setembro</h5>
    </div>
    <div class="upper-container">
      <div class="image-container">
        <img
          [src]="data.image"
          alt="event image"
        >
      </div>
    </div>

    <div class="lower-container">
      <div>
        <h3>{{data.name}}</h3>
        <h4>{{data.location}}</h4>
      </div>
      <div>
        <p>Festa regional do Espírito Santo com a presença de....</p>
      </div>
      <div>
        <a
          href="#"
          class="btn"
        >Detalhes</a>
      </div>
    </div>
  </div>
  }
</div>