/* You can add global styles to this file, and also import other style files */
/* Remove Angular 20 defaults */

/* styles.scss at the root of your project */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  font-family: 'Space Mono', monospace;
}

body,
html {
  margin: 0;
  font-family: unset; /* or your preferred font */
}
